@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

body {
  font-family: var(--font-poppins);
  background-color: #ffffff;
  color: #0f172a;
}

@theme {
  --color-primary: #3362a5;
  --color-primary-dark: #003b8e;
  --color-prime: #2e5895;

  --color-primary-text: #07304a;

  --font-poppins: 'Poppins', sans-serif;
  --font-outfit: 'Outfit', sans-serif;

  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}

button {
  cursor: pointer;
}

.active hr {
  @apply block;
}

.active p {
  @apply text-primary;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}